@import "tailwindcss";
@config "../tailwind.config.ts";

@theme inline {
  --font-sans: "Neue Montreal", var(--font-inter), Inter, Syne, sans-serif;
  --color-brand-dark: #00272c;
  --color-brand-neon: #e1ff51;
  --color-bg-light: #ffffff;
  --color-bg-offwhite: #ffffef;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.prose-blog img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 110%;
  border-radius: 24px;
}
